body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

nav{
    height: 100px;
    width: 100vw;
}

.nav-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logo{
    width: 80px;
    margin-left: 20px;
}

.logo img{
    width: 100%;

}

.nav-menu{
    display: flex;
}


.hamburger {
    height: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.hamburger div{
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

.search {
    height: 20px;
    padding: 0 10px;
}

.search .fas {
    height: 100%;
}

.button{
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;


}

.button:hover{
    background-color: #FF4000;
    color: #fff;
    border-color: #FF4000;
}


/* how it works */
.how-it-works{
    background-color: #ffeee5;
    padding:20px;

}

h6{
    margin: 0;
    color: #FF4000;
    padding-left: 17px;
    font-size: 12px;
    position: relative;
    display: inline-block;
}

h6::before{
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    height: 1px;
    width: 15px;
    background-color: #FF4000;
}

.how-it-works h2{
    color: #3d4643;
}

.how-it-works p{
    color:#5b7183;
    font-size: 14px;
}

.how-it-works .play-button{
    color: #ff4000;
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.play-button span{
    margin-right: 5px; 

}

.play-button i{
    font-size: 10px;

}

/* commercial part */

.commercial{
    position: relative;
}

.commercial .image{
    margin: 0 auto;
    width: 250px;
    position: relative;
}

.commercial .image button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #FF4000;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.commercial .image img{
    width: 240px;
    height: 240px;
    max-width: 100%;
    border-radius: 50%;
}

.oval{
    position: absolute;
    background-color: #FF400020;
    border-radius: 50%;
    width: 255px;
    height: 270px;
    left: 17%;
    top: -4%;
}

.oval1{
    width: 255px;
    height: 270px;
    transform: rotate(50deg);
    
}

.oval2{
    width: 275px;
    height: 250px;
    transform: rotate(130deg);
}

.oval3{
    width: 280px;
    height: 230px;
    transform: rotate(217deg);

    
}

/* 5 steps using arpio */
.steps{
    margin-top: 40px;
    color: #111416;
    font-size: 26px;
}

.item{
    box-shadow: 0 10px 20px 0 rgb(66 102 169 / 15%);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin-top: 60px;
}

.item-number{
    position: absolute;
    width: 65px;
    height: 65px;
    top: -34px;
    left: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #fff9f6;
    color: #ff4000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 400;

}

.item-content h4{
    color: #3d464e;
    font-size: 24px;

}

.item-content p{
    font-size: 14px;
}

.item-content strong{
    font-weight: bold;
    color: #60676f;
}








/* request box */

.request-btn{
    background-color: #ffeee5;
    color: #FF4000;
}

.request-box{
    background-color: #fff;
    padding: 70px 0 25px;
    text-align: center;
}

.request-box h2{
    margin: 0 0 10px;
}

.request-box p{
    margin-top: 0;
    line-height: 1.5;
}

.request-box .button {
    margin: 0 10px 10px;
} 


/* footer */
.top-footer{
    text-align: center;
    padding: 30px 0;
    background-color: #2b303a;
    color: #fff;
}

.top-footer img{
    width: 150px;
    margin: 0 auto;
}

.top-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.footer-nav ul li{
    font-size:17px ;
    font-weight: 900;
    cursor: pointer;
    transition: all .2s ease;
}

.footer-nav ul li:hover{
    color: #FF4000;
    text-decoration: underline;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: 15ppx;
    font-weight: 500;
}

.info span{
    margin-bottom: 5px;
    margin-top: 5px;  
    color: #8e9da9;
    padding: 0 0 5px;

}

.info strong{
    color:#fff;
    padding-right: 5px;
}

.social-icons{
    margin: 0 0 30px;

}

.social-icons .fab{
    display: inline-block;
    width: 54px;
    height: 54px;
    position: relative;
    border-radius: 50%;
    background-color: #394147;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all .5s ease;

}

.social-icons .fab::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    color: #fff;
}

.social-icons .fab:hover{
    background-color: #FF4000;
}

 .bottom-footer{
    padding: 10px 0;
    background: #303540;
    color: #757d84;
    font-weight: 400;
    font-size: 13px;
}
.center-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.bottom-nav{
    display: flex;
    height: auto;
}

.bottom-nav ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    align-items: center;

}

.bottom-nav ul li a{
    text-decoration: none;
    margin: 5px;
    color: #757d84;
    transition: all .5s  ease;

}
.bottom-nav li a:hover{
    color: #FF4000;
    text-decoration: underline;
}

.bottom-nav ul .menu-item{
    position: relative;
    margin: 0 0 0 7px;
    padding: 0 0 0 7px;
}
.bottom-nav ul .menu-item::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 13px;
    background-color: #757d84;

}


.copyright{
    order: 1;
    margin-top: 5px ;
}

